:root {
    --font-family-primary: 'Montserrat', sans-serif;
    --font-family-secondary: 'Fraunces', sans-serif;
    --fw-light: 500;
    --fw-bold: 700;
    --fs-300: 0.8rem;
    --fs-400: 1.125rem;
    --fs-500: 1.25rem;
    --fs-600: 1.5rem;
    --fs-700: 1.75rem;
    --fs-800: 2rem;
    --fs-900: 5rem;
    --col-primary-1: hsl(30, 38%, 92%);
    --col-primary-2: hsl(158, 36%, 37%);
    --col-neutral-1: hsl(0, 0%, 100%);
    --col-neutral-2: hsl(228, 12%, 48%);
    --col-neutral-3: hsl(212, 21%, 14%);
    
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

*{
    margin: 0;
    font: inherit;
}

body {
    background: var(--col-primary-1);
}

.grid-flow {
    display: grid;
    align-content: start;
    gap: 1.5rem;
}

.flex-group {
    display: flex;
    align-items: center;
}

img {
    display: block;
    max-width: 100%;
    max-height: auto;
}



.product-card {
    --padding: 2rem;
    display: grid;
    max-width: 40rem;
    border-radius: 1rem;
    overflow: hidden;
    background: var(--col-neutral-1);
    margin-inline: 1rem;
    margin-block: 1rem;
}

.product-info {
    padding: calc(var(--padding) * 1) var(--padding) ;
}

.header{
    color: var(--col-neutral-2); 
    font-family: var(--font-family-primary);
    font-weight: var(--fw-light);
    font-size: var(--fs-300);
}

.header > span {
    padding: 0 0.3rem 0 0.3rem;
}

.product-info-header{
    font-family: var(--font-family-secondary);
    font-weight: var(--fw-bold);
    font-size: var(--fs-700);
}

.product-info-blurb {
    font-family: var(--font-family-primary);
    color: var(--col-neutral-2); 
    font-weight: var(--fw-light);
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    padding: 0.4rem;
    background:  var(--col-primary-2);
    color: var(--col-neutral-1);
    border: none;
    font-family: var(--font-family-primary);
}

.button:hover {
    background: hsl(158, 36%, 25%);
}

.button-logo {
    margin: 0.8rem;
}

.price-1 {
    font-family: var(--font-family-secondary);
    color: var(--col-primary-2);
    font-size: var(--fs-700);
}

.price-2 {
    font-family: var(--font-family-primary);
    font-size: var(--fs-300);
    color: var(--col-neutral-2); 
    padding: 1.5rem;
    text-decoration: line-through;
}

.product-photo {
    height: 240px;
    background-image: url(./images/image-product-mobile.jpg );
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
}

 
@media (min-width:600px) {
    body {
        display: grid;
        place-items: center;
        min-height: 100vh;
    }

    .product-card {
        grid-template-columns: 1fr 1fr;
    }
    .product-photo {
        height: auto;
        background-image: url(./images/image-product-desktop.jpg);
        background-position: center; 
        background-repeat: no-repeat;
        background-size: cover;
       

    }
}









.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }